li {
	list-style-type: none;
}
#ContainerPaniek {
	display: flex;
	visibility: visible;

}
#inputPaniek {
	position: relative;
	margin-left: 23%;
	margin-top: 0%;
}

.box {
	margin-bottom: 12.5px;
}
#inputOnkunde {
	position: relative;
	margin-top: 0%;
	margin-left: 189px;
}

#ContainerOnkunde {
	top: 16.5%;
	display: flex;
	visibility: hidden;
	position: absolute;
	margin-top: 2.75%;
}
	
.text {
	position: relative;
	top: 13.5%;
}

body {
	padding-left: 25%;
	background-color: #353330;
}

#navbar {
	background-color: red;
	width: 700px;
	top: 25px;	
	list-style-type: none;
	margin-bottom: -21px;
}

#MainContainer	{
	background-color: white;
	width: 700px;
	height: 375px;

}

#bottom {
	position: absolute;
	text-align: center;
	background-color: gray;
	width: 700px;
	bottom:115px;
}